<section class="about m-5" id="about">
    <div class="heading">
        <h1>Best Customer Experience</h1>
    </div>
    <div class="about-container">
        <div class="about-img">
            <img src="../../../assets/img/about.png" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sit optio consectetur voluptate repellat. Nulla harum ipsa nihil voluptate iste omnis distinctio maiores iure voluptatem consequatur rerum quidem asperiores eaque at animi, optio hic?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt labore aliquam dicta quam est totam porro repellat iste.</p>
        </div>
    </div>
</section>